
#contentimg {
    height: 300px;
    width: 100%;
    background-image: url(../content/contemporaryreiki.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 40% 50%;
    border-radius: 3px;
}

#videoheader {
  position:absolute;
  object-fit:cover;
  left: 10%;
  width: 80%;
  height: 300px;
}

div span
{
    position:relative;
    top:40%;
    background-color:rgba(0, 0, 0, 0.5);
    color:white;
    padding:5px 5px 5px 5px;
    font-size:4em;
    font-family:carobtn;
    letter-spacing:4px;
    border-radius:4px;
}
#contenttext
{
    text-align:left;
}

@media screen and (max-width: 820px) 
{
    #contentimg, #videoheader
    {
        height:150px;
    }

    div span
    {
        font-size:2em;
    }
}